<div class="">
    <ul class="flex flex-col items-start gap-3 text-sm font-light ">
        <li class="w-1/4 p-0.5 rounded flex justify-center items-center hover:bg-wDarkerTeal transition duration-100" >
            <button routerLink="/auth"
                    class="flex flex-col text-wPrimaryWhite justify-center items-center gap-0.5 hover:cursor-pointer">
                <img src="./assets/icons/w98_key_padlock.ico" alt="authorization" class="w-10 h-10">
                <span class="text-base">Authorization</span>
            </button>
        </li>
        <li class="w-1/4 p-0.5 rounded flex justify-center items-center hover:bg-wDarkerTeal transition duration-100"
            *ngIf="authService.isAuthenticated()">
            <button routerLink="/projects"
                    class="flex flex-col text-wPrimaryWhite justify-center items-center gap-0.5 hover:cursor-pointer">
                <img src="./assets/icons/w98_address_book_pad.ico" alt="addProject" class="w-10 h-10">
                <span class="text-base">Add project</span>
            </button>
        </li>
        <li class="w-1/4 p-0.5 rounded flex justify-center items-center hover:bg-wDarkerTeal transition duration-100" >
            <button routerLink="/about"
                    class="flex flex-col text-wPrimaryWhite justify-center items-center gap-0.5 hover:cursor-pointer">
                <img src="./assets/icons/w98_user_card.ico" alt="AboutMe" class="w-10 h-10">
                <span class="text-base">About me</span>
            </button>
        </li>
        <li class="w-1/4 p-0.5 rounded flex justify-center items-center hover:bg-wDarkerTeal transition duration-100" >
            <button routerLink="/projects" type="submit"
                    class="flex flex-col text-wPrimaryWhite justify-center items-center gap-0.5 hover:cursor-pointer">
                <img src="./assets/icons/w98_directory_open_file_mydocs_2k.ico" alt="MyProjects" class="w-10 h-10">
                <span class="text-base">My projects</span>
            </button>
        </li>
    </ul>
</div>